[Unit]
Description=Run ZIPP DB dump every day at midnight

[Timer]
OnCalendar=*-*-* 00:00:00 UTC
Unit=zipp-db-dump.service
Persistent=true

[Install]
WantedBy=multi-user.target
